@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome. Choose a page.</h1>
    <p><a href="/products">Products Page</a>.</p>
    <p><a href="/car">Cars Page</a>.</p>
</div>
